# Ignore IDE and editor-specific files
.idea/
.vscode/
*.iml
*.swp
.DS_Store

# Ignore log files and temporary files
*.log
tmp/
temp/
__pycache__/
*.bk*
*.backup
.ipynb_checkpoints/
*.egg-info/

# Ignore sensitive information (e.g., configuration files with credentials)
.auth/
config.local.js
.*env*
*cred*
token.pickle
token.json
credentials.json
*.json
!package.json

# Ignore sensitive data
data/*
!data/category_mapping.example.json
*.bin
src/data/chroma_db/*
tailwindcss
venv/
node_modules/

#Ignore Scratch work
scripts/scratch/*
scripts/analyze_scripts/sync_gcp_secrets.*

#Potentially Sensitive documentation
Documentation/issues_and_audit/*
Documentation/Outdated_Doc/*
Documentation/notes/*
Documentation/Completed_Tasks/
Documentation/Current_work/*

**/check_status.py
