# AI dependancy
jiter~=0.13.0
# Core AI/ML
torch>=2.1.0
numpy>=1.23.0,<2.0.0
onnxruntime>=1.19.0
openai==2.30.0
sentence-transformers>=5.4.0
transformers>=4.40.0

# Google/Auth (The "Problem" group - use ranges!)
google-api-core>=2.30.3, <3.0.0 
google-api-python-client>=2.195.0, <3.0.0
google-auth-oauthlib~=1.2.0
google-auth<3.0.0,>=2.15.0
googleapis-common-protos>=1.70.0, <2.0.0
protobuf>=5.0.0,<6.0.0
#urllib3<2.0.0     # Many older ML packages crash on urllib3 v2
#pydantic>=2.7.0   # Langchain and CrewAI need this synchronized

#Agentic dependencies
importlib-metadata~=8.7.1; python_version == "3.11"
jsonpatch~=1.33
jsonpointer~=3.0
opentelemetry-api==1.34.1
httpx-sse==0.4.0
starlette>=0.46.0
click~=8.1.7
rich==14.3.4
typer~=0.9.0

# Agentic/LangChain
crewai==1.14.4
crewai-tools==1.14.4
langchain>=1.2.1
langgraph>=1.1.10
langchain-core>=1.3.2
langchain-openai>=1.2.1
langchain-mongodb==0.11.0
langchain-groq==1.1.2
langsmith>=0.8.2

# Web/API
fastapi==0.115.12
uvicorn>=0.46.0
Flask>=3.0.0
flask-cors>=6.0

# DB/Storage
pymongo>=4.6.1
neo4j>=5.14.0, <5.28.3
weaviate>=0.1.2
chromadb~=1.1.0

# Utilities
anyio
pytest
urllib3
tenacity
pydantic~=2.12.5
python-dotenv>=1.2.2
arxiv>=2.1.3
pymupdf~=1.26.6
PyJWT>=2.10.1
tomli~=2.0.2
google-cloud-aiplatform>=1.40.0
